<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBY12d9MwDvgZDglZNyufg-3chTVQ3wLXM</string>
	<key>GCM_SENDER_ID</key>
	<string>1079574665614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nutrifit</string>
	<key>PROJECT_ID</key>
	<string>nutrifit-database</string>
	<key>STORAGE_BUCKET</key>
	<string>nutrifit-database.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079574665614:ios:244d207bc025c1cdc7acdf</string>
</dict>
</plist>
